Flask==3.0.3
Flask-Cors==4.0.1
Flask-SQLAlchemy==3.1.1
Flask-JWT-Extended==4.6.0
Werkzeug==3.0.3
python-dotenv==1.0.1
openai==1.95.1
requests==2.32.3
gunicorn==22.0.0
psycopg2-binary==2.9.10

pymongo==4.8.0
bcrypt==4.2.0